{% extends 'index.html' %}
{% load static %}


{% block main %}
	
	

<div class="container">
    <div class="row">			
        <div class="col-sm-12 col-xs-12 mt-5 mb-5">
            

            <div class="item-content">
                <div class="item-content-wrap">
                    <h3 class="item-title title-bar-primary5">Parts Of Cochlear Implants</h3>
                    <div class="ima-seo">
                        <div class="ima-seo">

                            
                                <h6>A Cochlear Implant has the following parts:</h6>
                                <p>We as Asha Speech and Hearing Clinics have almost all the range of Cochlear Implants. A Cochlear implant consists of two portions. One is an external portion that sits behind the ear and another portion which is the second portion is surgically placed under the skin. A Cochlear Implant has the following parts:</p>
                                <p>1) One of the important part of a cochlear implant is a microphone, which picks up sound from the environment.</p>
                                <p>2) The second major part of a cochlear implant is a speech processor, which selects and arranges sounds picked up by the microphone.</p>
                                <p>3) For signals etc we have a transmitter and receiver or say a stimulator, which receive signals from the speech processor and converts them into electric impulses.</p>
                                <p>4) An electrode array, which is a group of electrodes that collects the impulses from the stimulator and sends them to different regions of the auditory nerve.</p>
            

                               

						</div>



					</div>
                </div>
         </div>
                                          
                </div> 
            </div>
        </div>
    </div>
 <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 319px; top: 654px;">
                   
</div> 
   
   											</div>					
				</main>					
			</div>			
		</div>
	</div>

{% endblock %}