{% extends 'index.html' %}
{% load static %}


{% block main %}
	
	

<div class="container">
    <div class="row">			
        <div class="col-sm-12 col-xs-12 mt-5 mb-5">
            

            <div class="item-content">
                <div class="item-content-wrap">
                    <h3 class="item-title title-bar-primary5">Cochlear Implants Mapping</h3>
                    <div class="ima-seo">
                        <div class="ima-seo">

                                <h4>Cochlear implant mapping & Programming</h4>
                                <h6>Leading cochlear implant mapping clinic in Delhi</h6>
                                <p><em><strong>Cochlear Implant Mapping</strong></em>&nbsp;is the term used for&nbsp;<em><strong>programming cochlear implant</strong></em>&nbsp;to the specifications and needs of its user. It is a necessary step in the post-operative aural&nbsp;<em><strong>rehabilitation of the Cochlear Implant</strong></em>&nbsp;patient.</p>
                                <p>In another words&nbsp;<em><strong>Cochlear Implant Mapping</strong></em>&nbsp;is a program that help to optimize the&nbsp;<em><strong>cochlear implant</strong></em>&nbsp;user’s access to sound by adjusting the input to the electrodes on the array that is implanted into the cochlea.</p>
                                <p>The primary goal of the programming or say follow-up sessions is to set the maximum loudness, based on the subjective report of the patient.</p>
                                


						</div>



					</div>
                </div>
         </div>
                                          
                </div> 
            </div>
        </div>
    </div>
 <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 319px; top: 654px;">
                   
</div> 
   
   											</div>					
				</main>					
			</div>			
		</div>
	</div>

{% endblock %}