{% extends 'index.html' %}
{% load static %}


{% block main %}
	
	

<div class="container">
    <div class="row">			
        <div class="col-sm-12 col-xs-12 mt-5 mb-5">
            

            <div class="item-content">
                <div class="item-content-wrap">
                    <h3 class="item-title title-bar-primary5">Cochlear Implants</h3>
                    <div class="ima-seo">
                        <div class="ima-seo">

                                <h4>Cochelar implants in Delhi(NCR)</h4>
                                <h6>Best doctor for Cochlear Implant and ENT Disorders Treatment</h6>
                                <p><em><strong>Cochlear implants</strong></em>&nbsp;are&nbsp;<em><strong>small hearing devices</strong></em>&nbsp;fitted under the skin behind your ear during surgery. A&nbsp;<em><strong>cochlear implant</strong></em>&nbsp;is a small, complex electronic device that can help to provide a sense of sound to a person who is profoundly deaf or severely hard-of-hearing</p>
                                <p>They have an external sound processor and internal parts including an electronics package with an electrode array. The external processor takes in sound, analyses it and then converts it to signals which are transmitted across the skin to an internal receiver-stimulator, which sends the signals along the electrode array into a part of the inner ear called the&nbsp;<em><strong>cochlea</strong></em>. The signal is then sent to the brain along the hearing nerve as normal. This means that&nbsp;<em><strong>cochlear implants</strong></em>&nbsp;are only suitable for people whose hearing nerves are functioning normally.</p>
                                <p>A&nbsp;<em><strong>cochlear implant</strong></em>&nbsp;is sometimes recommended for adults or children who have profound sensorineural&nbsp;<em><strong>hearing loss</strong></em>&nbsp;in both ears which is not helped by&nbsp;<em><strong>hearing aids</strong></em>.</p>
                                <p>Before a&nbsp;<em><strong>cochlear implant</strong></em>&nbsp;is recommended, you will be assessed to find out whether it will help&nbsp;<em><strong>improve your hearing</strong></em>. If a cochlear implant is recommended, it will be inserted into your&nbsp;<em><strong>ear</strong></em>&nbsp;(or both ears) during an operation and will be switched on three weeks later. An implant does not&nbsp;<em><strong>restore normal hearing</strong></em>. Instead, it can give a person a useful representation of sounds in the environment and help him or her to understand speech.</p>
                                
						</div>



					</div>
                </div>
         </div>
                                          
                </div> 
            </div>
        </div>
    </div>
 <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 319px; top: 654px;">
                   
</div> 
   
   											</div>					
				</main>					
			</div>			
		</div>
	</div>

{% endblock %}