{% extends 'index.html' %}
{% load static %}


{% block main %}
	
	

<div class="container">
    <div class="row">			
        <div class="col-sm-12 col-xs-12 mt-5 mb-5">
            

            <div class="item-content">
                <div class="item-content-wrap">
                    <h3 class="item-title title-bar-primary5">Cochlear-Implant-Care-Maintenance</h3>
                    <div class="ima-seo">
                        <div class="ima-seo">

                            
                                <h6>Care and maintenance of cochelar implants product</h6>
                                <p>Asha Cochlear Implant Care Maintenance serves all Cochlear Implant patients and training related with Cochlear Implant care to all patients.</p>
                                <blockquote class="grass"><p>“Keeping your sound processor in good condition means looking after it. Here are some practical tips on how to take care of your sound processor. “</p></blockquote>

						</div>



					</div>
                </div>
         </div>
                                          
                </div> 
            </div>
        </div>
    </div>
 <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 319px; top: 654px;">
                   
</div> 
   
   											</div>					
				</main>					
			</div>			
		</div>
	</div>

{% endblock %}