{% extends 'index.html' %}
{% load static %}


{% block main %}
	
	

<div class="container">
    <div class="row">			
        <div class="col-sm-12 col-xs-12 mt-5 mt-5">
            

            <div class="item-content">
                <div class="item-content-wrap">
                    <h3 class="item-title title-bar-primary5">Auditory Verbal Therapy</h3>
                    <div class="ima-seo">
                        <div class="ima-seo">

                            
                                <h4>Lat's Talk Auditory Verbal Therapy clinic</h4>
                                <h6>Auditory Verbal Therapy for teaching deaf children to listen and speak</h6>
                                <p><em><strong>Auditory verbal therapy</strong></em>&nbsp;is a method for&nbsp;<em><strong>teaching deaf children</strong></em>&nbsp;to listen and speak and emphasizes speech and listening.</p>
                                <p>Constant use of&nbsp;<em><strong>amplification devices</strong></em>&nbsp;such as&nbsp;<em><strong>hearing aids</strong></em>,&nbsp;<em><strong>cochlear implants</strong></em>&nbsp;etc helps the patients to listen while using their&nbsp;<em><strong>residual hearing power</strong></em>.</p>
                                <p>Download the brochure and learn more about Auditory Verbal Therapy</p>

						</div>



					</div>
                </div>
         </div>
                                          
                </div> 
            </div>
        </div>
    </div>
 <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 319px; top: 654px;">
                   
</div> 
   
   											</div>					
				</main>					
			</div>			
		</div>
	</div>

{% endblock %}