{% extends 'index.html' %}
{% load static %}


{% block main %}
	
	

<div class="container">
    <div class="row">			
        <div class="col-sm-12 col-xs-12 mt-5 mb-5">
            

            <div class="item-content">
                <div class="item-content-wrap">
                    <h3 class="item-title title-bar-primary5">Cochlear Implant Repair</h3>
                    <div class="ima-seo">
                        <div class="ima-seo">

                            
                                <h6>Cochlear Implant parts and cochlear implant repairing</h6>
                                <p>We at&nbsp;<em><strong>Asha Speech and Hearing Aid Clinics</strong></em>&nbsp;understand that hearing is a precious gift which is why we make sure to provide you with standard warranty on your Cochlear equipment that covers you for the cost of service and repairs. Here at&nbsp;<em><strong>Asha Cochlear Implant clinic</strong></em>&nbsp;we assist our clients with excellent services on ontime and if there is any need of&nbsp;<em><strong>cochlear implant repairing</strong></em>&nbsp;of any client we consider helping him/her as well as we believe in service before self.</p>
                                <p>However, once your warranty expires you may need to take&nbsp;<em><strong>care of cochlear implants</strong></em>&nbsp;yourself but here at&nbsp;<em><strong>Asha Hearing clinics</strong></em>&nbsp;we help our clients by managing the cost of service and repairs easier at a very economical cost.</p>
                                
						</div>



					</div>
                </div>
         </div>
                                          
                </div> 
            </div>
        </div>
    </div>
 <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 319px; top: 654px;">
                   
</div> 
   
   											</div>					
				</main>					
			</div>			
		</div>
	</div>

{% endblock %}