{% extends "index.html" %}
{% block main %}
<!-- Contact Us -->
<section class="info-section" id="contact">
  <div class="row">
    <div class="col-md-6 block text-center wow fadeInLeftBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeftBig;">
      <div class="center">
        <p class="title">Open for you</p>
        <h2>We're here</h2><p><strong>Skype:</strong> blacknwhite </p>
	 <p><strong>Phone:</strong> 00 - 91 - 1234567890</p>
	 <p><strong>Whatsapp:</strong> 00 - 91 - 1234567890</p>
	      
        <p><strong>Email:</strong> <a href="mailto:bnw@blacknwhite.org">bnw@blacknwhite.org</a></p>
        
      </div>
    </div>
   <div class="col-md-6 block light text-center wow fadeInRightBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInRightBig;">
      <div class="center">	      
        <h4>Reset Password</h4>
       <form class="form-inline" id="forgotpassword-form" name="forgotpassword-form" action="" method="POST">
          <div class="row">
              {% csrf_token %}
            <div class="col-md-12 center">
                     {% if msg %}       
                            <div class="alert alert-info alert-dismissable" role="alert">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
                            <i class="fa fa-2x fa-rocket"></i></i>{{ msg|safe }}
                            </div>
		  {% endif %}
            </div>
          </div>


          <div class="row">
           
            
		  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="email" class="form-control" placeholder="Email" name="email" id="email" required="">
            </div>
		  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" placeholder="Username" name="username" id="username" required="">
            </div>
            <div class="col-xs-12 col-md-12">
              <button type="submit" class="btn-black btn-blue bounce-green" id="forgotpasswordbutton"> Submit </button>
            </div>
          </div>
        </form>
	   <p class="title form-inline">Don't have  <b>blacknwhite</b>  account? <a href="/register/user/">SignUp Now</a> | Return To <a href="/signin/" >Login</a> </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
