{% extends 'index.html' %}
{% load static %}


{% block main %}
	
	

<div class="container">
    <div class="row">			
        <div class="col-sm-12 col-xs-12 mt-5 mb-5">
            

            <div class="item-content">
                <div class="item-content-wrap">
                    <h3 class="item-title title-bar-primary5">Hearing Aid Care</h3>
                    <div class="ima-seo">
                        <div class="ima-seo">

                                <h5>Hearing Aid Care Center in Delhi, Gurgaon, Faridabade</h5>
                                <p>Offering International Standards of services in Hearing loss assesment and hearing aid fitting.</p>
                                <p>It is good to take precaution before actual problem related to hearing loss occurs. Asha Clinic offers a best solution for your hearing aid devices and taking care of your hearing aid.</p>
                                <p>From first experiencing hearing loss symptoms, many a people wait for 5 – 7 years before addressing the problem. It is important to note that over a period of time, reduction of speech stimulation from the ear to the brain can impair the brains ability to process sound and understand speech. This is called loss of speech discrimination. The longer you wait to address hearing loss, the higher one’s speech discrimination deteriorates, thereby making it more difficult to recover.</p>
                                
						</div>



					</div>
                </div>
         </div>
                                          
                </div> 
            </div>
        </div>
    </div>
 <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 319px; top: 654px;">
                   
</div> 
   
   											</div>					
				</main>					
			</div>			
		</div>
	</div>

{% endblock %}