{% extends 'index.html' %}
{% load static %}


{% block main %}
	
	

<div class="container">
    <div class="row">			
        <div class="col-sm-12 col-xs-12 mt-5 mb-5">
            

            <div class="item-content">
                <div class="item-content-wrap">
                    <h3 class="item-title title-bar-primary5">Hearing Aids</h3>
                    <div class="ima-seo">
                        <div class="ima-seo">

                                <h5>Get your Hearing Aid from certified audiologist in delhi</h5>
                                <p>If you have&nbsp;<em><strong>hearing problems</strong></em>, you may be able to wear a hearing aid.</p>
                                <p>A&nbsp;<em><strong>hearing aid</strong></em>&nbsp;is an electronic device that consists of a microphone, an amplifier, a loudspeaker and a battery. It increases the volume of sound entering your ear so that you may be able to hear things more clearly.</p>
                                <p><em><strong>Modern hearing aids</strong></em>&nbsp;are very small and discreet and can often be worn inside your ear. Hearing aids are not suitable for everyone. Your&nbsp;<em><strong>Audiologist</strong></em>&nbsp;(<em><strong>hearing specialist</strong></em>) will be able to advise you about whether a hearing aid is suitable for you.</p>
                                <p>If a hearing aid is recommended for you,&nbsp;<em><strong>an audiologist</strong></em>&nbsp;will take an impression of your ear so that the hearing aid will fit you perfectly. The hearing aid will be adjusted to suit your level of&nbsp;<em><strong>hearing impairment</strong></em>.</p>
                                <p>You will also be shown how to use and care for it. After your&nbsp;<em><strong>hearing aid</strong></em>&nbsp;has been fitted, you will have a follow-up appointment one month later.</p>

                                <p>
                                <div class="card">
                                    <img src="{% static 'assets/img/pic2.jpeg' %}" alt="Denim Jeans" style="width:100%">
                                  </div>
                                </p>


						</div>



					</div>
                </div>
         </div>
                                          
                </div> 
            </div>
        </div>
    </div>
 <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 319px; top: 654px;">
                   
</div> 
   
   											</div>					
				</main>					
			</div>			
		</div>
	</div>

{% endblock %}