{% extends 'index.html' %}
{% load static %}


{% block main %}
	
	

<div class="container">
    <div class="row">			
        <div class="col-sm-12 col-xs-12 mt-5 mb-5">
            

            <div class="item-content">
                <div class="item-content-wrap">
                    <h3 class="item-title title-bar-primary5">How Do We Hear</h3>
                    <div class="ima-seo">
                        <div class="ima-seo">

                                <h5>Components of Ear that helps us in hearing.</h5>
                                <p>When the Sound Waves enter the ear canal and cause the eardrum to vibrate, that vibration pass through three connected bones in the middle ear. All this motion sets moving fluid in the inner ear. Finally it reaches to the processing center that translates it to meaningful audio.</p>
                                <p>There are five components of ear as follows:</p>
                                <ul>
                                    <li>Outer Ear</li>
                                    <li>Middle Ear</li>
                                    <li>Inner Ear</li>
                                    <li>Acoustic Nerve</li>
                                </ul>
                                <p><em><strong>Central Auditory Processing Centers</strong></em></p>


						</div>



					</div>
                </div>
         </div>
                                          
                </div> 
            </div>
        </div>
    </div>
 <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 319px; top: 654px;">
                   
</div> 
   
   											</div>					
				</main>					
			</div>			
		</div>
	</div>

{% endblock %}