{% extends 'index.html' %}
{% load static %}


{% block main %}
	
	

<div class="container">
    <div class="row">			
        <div class="col-sm-12 col-xs-12 mt-5 mb-5">
            

            <div class="item-content">
                <div class="item-content-wrap">
                    <h3 class="item-title title-bar-primary5">Types Of Hearing Aids</h3>
                    <div class="ima-seo">
                        <div class="ima-seo">


                                <p>There are numerous types of hearing aids can be categorised based on the shape and technology. There are are many brands in hearing aids like phonak hearing aid, bernafone hearing aid, siemens hearing aid etc providing technology required for a patient is ascertained after a rigorous pre-fitting check up and patient’s life style profile, the shape is often left to the patient to decide based on their comfort.</p>
                                <p>The following are the models of hearing aids based on the shape:</p>
                                <ul>
                                    1) Behind the ear (BTE)
                                </ul>
                                <ul>
                                    2) Invisible In Canel (IIC)
                                </ul><ul>
                                    3) In the canal (ITC)
                                </ul><ul>
                                    4) Completely in the canal (CIC)
                                </ul><ul>
                                    5) Open fit/ RIC
                                </ul>
                                


						</div>



					</div>
                </div>
         </div>
                                          
                </div> 
            </div>
        </div>
    </div>
 <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 319px; top: 654px;">
                   
</div> 
   
   											</div>					
				</main>					
			</div>			
		</div>
	</div>

{% endblock %}