{% load static %}

<style type="text/css">
    .department{
        padding-left:0;margin-top: 30px;
        box-shadow: 0px 1px 20px 0px rgb(218 227 232 / 75%);
        border-radius: 4px;
        padding: 10px 10px;
        width: 100%;
    }
    .department li{
        list-style:none;
        width: 100%;
        font-weight: 500;
        padding-left: 15px !important;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 26px;
        font-style: normal;
        display: list-item;
        text-align: -webkit-match-parent;

                }

        .department li a{
            position: relative;
            display: block;
            padding-left: 20px;
            padding-right: 10px;
            padding-bottom: 15px;
            padding-top: 15px;
            border-bottom: 1px solid #d9d9d9;
            color: #111111;
            transition: all 0.5s ease-out;
        }
        .department li a:link, a:visited {
        color: #007a9a;
        }

        .single-departments-box-layout1 .single-departments-img{
            display:none;
            border-radius: 4px;
            margin-bottom: 45px;
        }
        .single-departments-box-layout1 .item-content .item-content-wrap{
            margin-bottom:50px;
        }
        .single-departments-box-layout1 .item-content .item-title{
            font-weight: 700;
            color: #111111;
        }

        .title-bar-primary5 {
position: relative;
margin-bottom: 20px;
padding-bottom: 20px;
}
h3 {
font-family: 'Raleway', sans-serif;
font-size: 22px;
line-height: 28px;
font-weight: 700;
font-style: normal;
}
</style>

<div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12 no-equal-item" style="position: absolute; left: 0px; top: 0px;">
    <div class="widgets widget-department-info">
        <h2 class="section-title title-bar-primary" style="color: #111111;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    font-style: normal;">All Services</h2>
        <ul class="nav tab-nav-list department">
                        <li class="nav-item departments_info">
                    <a href="/assr_hearingtest/">ASSR Hearing Test</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/bera_hearingtest/">BERA Hearing Test</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/fluency/">Fluency Therapy</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/hearingtest/">Hearing Test</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/language/">Language Therapy</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/oae_hearingtest/">OAE Hearing Test</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/pta_hearingtest/">PTA Hearing Test</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/speechtherepy/">Speech Therapy</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/sp_benefits/">Speech Therapy Benefits</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/sp_classes/">Speech Therapy Classes</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/voicetherepy/">Voice Therapy</a>
                </li>
                            <li class="nav-item departments_info">
                    <a href="/voicetherepy/">Voice Therapy</a>
                </li>
                    </ul>
    </div>
</div>  

</html>