{% extends 'index.html' %}

    {% block extracss %}

    {% endblock %}

{% block  main %}    
    <section class="about-us-area">
    <div class="about-right-circle"><!-- about right circle -->
        <div class="img-wrapper">
            <img src="img/bg/circle.png" alt="circle image">
        </div>
    </div><!-- //. about right circle -->
    <div class="container">
        <div class="row reorder-xs">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <h3 class="title">About us</h3>
                    <p>We’re also experts at finding the sweet spot between Google’s guidelines and what is commercially right for you. We have progressive theories on search as a tool for retention of customers, not just for acquisition.  we always measure, always analyze and always innovate.</p>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    <a href="#" class="boxed-btn margin-top-20 reverse-color">More Details</a>
                </div><!-- //. left content area -->
            </div> 
            <div class="col-lg-6">
                <div class="right-content-area"><!-- right content area -->
                    <div class="img-wrap">
                        <img src="https://image.shutterstock.com/image-illustration/about-us-letters-on-wooden-600w-258283535.jpg" alt="about right image">
                    </div>
                </div><!-- //. right content area -->
            </div> 
        </div>
    </div>
</section>
<section class="price-plan-area">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2 class="title">Review & Ratings</h2>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                            <div class="row">
        
                                <div class="col-lg-4 col-md-4">
                                    <div class="single-price-plan">
                                    <div class="review-img">
                                        
                                    </div>
                                       <div class="price-header">
                                            <h4 class="name">Basic</h4>
                                            <div class="review-box">
                                            </div>
                                       </div>
                                       <div class="price-body">
                                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed a do eiusmod temporery iquis incididunt exercitation ullamc ea these commodo consequat. </p>
                                       </div>
                                       
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="single-price-plan">
                                    <div class="review-img">
                                        
                                    </div>
                                       <div class="price-header">
                                            <h4 class="name">Basic</h4>
                                            <div class="review-box">
                                            </div>
                                       </div>
                                       <div class="price-body">
                                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed a do eiusmod temporery iquis incididunt exercitation ullamc ea these commodo consequat. </p>
                                       </div>
                                       
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="single-price-plan">
                                    <div class="review-img">
                                        
                                    </div>
                                       <div class="price-header">
                                            <h4 class="name">Basic</h4>
                                            <div class="review-box">
                                            </div>
                                       </div>
                                       <div class="price-body">
                                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed a do eiusmod temporery iquis incididunt exercitation ullamc ea these commodo consequat. </p>
                                       </div>
                                       
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
           </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="rating-box">
                    
                </div>
                
            </div>
        </div>
    </div>
</section>


<section class="service-area">
     <div class="container">
     <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2 class="title">Frequently Asked Question</h2>
                </div>
            </div>
        </div>
     <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 col-xs-12">
            
            <div class="panel-group wrap" id="bs-collapse">

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#bs-collapse" href="#one">
         
         Content 1
        </a>
      </h4>
                    </div>
                    <div id="one" class="panel-collapse collapse">
                        <div class="panel-body">

                            Where now are the horse and the rider? Where is the horn that was blowing? Where is the helm and the hauberk, and the bright hair flowing?
                        </div>
                    </div>

                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#bs-collapse" href="#two">
       Content 2
        </a>
      </h4>
                    </div>
                    <div id="two" class="panel-collapse collapse">
                        <div class="panel-body">

                            Where is the harp on the harpstring, and the red fire glowing? Where is the spring and the harvest and the tall corn growing?

                        </div>

                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#bs-collapse" href="#three">
          Content 3
        </a>
      </h4>
                    </div>
                    <div id="three" class="panel-collapse collapse">
                        <div class="panel-body">
                            ave gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning? The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning? The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning? The days have gone down in the West behind the hills into shadow. Who shall gather the smoke of the deadwood burning, Or behold the flowing years from the Sea returning?
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#bs-collapse" href="#four">
         Content 4
        </a>
      </h4>
                    </div>
                    <div id="four" class="panel-collapse collapse in">
                        <div class="panel-body">

                            They have passed like rain on the mountain, like a wind in the meadow; The days have gone down in the West behind the hills into shadow.
                        </div>
                    </div>
                </div>
                <!-- end of panel -->

            </div>
            <!-- end of #bs-collapse  -->

        </div>
        </div>



    </div>
</section>

    
{% endblock %}