{% extends 'index.html' %}
    
    {% block extracss %}
{% endblock %}

{% block main %}



        <div class="container animated fadeIn mt-5">

          <div class="row">
            <!-- <h1 class="header-title"> Contact </h1>
            <hr> -->
            <div class="col-sm-6 col-lg-6 col-md-6">
                <iframe width="100%" height="320px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaY32Qm3KWTkRuOnKfoIVZws&key=AIzaSyAf64FepFyUGZd3WFWhZzisswVx2K37RFY" allowfullscreen></iframe>
                </div>

                <div class="col-sm-6 col-lg-6 col-md-6">
                    <form method="post" name="contactform" class="contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Name" required="" autofocus="">
                        </div>
                    
                    
                        <div class="form-group form_left">
                          <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="">
                        </div>
                    
                      <div class="form-group">
                           <input type="text" class="form-control" id="phone" name="mobile" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
                      </div>
                      <div class="form-group">
                      <textarea class="form-control textarea-contact" rows="5" id="comment" name="message" placeholder="Type Your Message/Feedback here..." required=""></textarea>
                      <br>
                      <button type="submit" class=" boxed-btn"> <span class="glyphicon glyphicon-send"></span> Send </button>
                      
                      </div>
                    </form>
                </div>
            
            </div>

          <div class="container second-portion">
            <div class="row">
                <!-- Boxes de Acoes -->
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="box1">                          
                        <div class="icon1">
                            <div class="image1"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                            <div class="info1">
                                <h3 class="title1">MAIL & WEBSITE</h3>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp gondhiyahardik6610@gmail.com
                                    <br>
                                    <br>
                                    <i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.hardikgondhiya.com
                                </p>
                            
                            </div>
                        </div>
                        <div class="space"></div>
                    </div> 
                </div>
                    
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="box1">                          
                        <div class="icon1">
                            <div class="image1"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                            <div class="info1">
                                <h3 class="title1">CONTACT</h3>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-9624XXXXX
                                    <br>
                                    <br>
                                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp  (+91)-756706XXXX
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div> 
                </div>
                    
                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="box1">                          
                        <div class="icon1">
                            <div class="image1"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <div class="info1">
                                <h3 class="title1">ADDRESS</h3>
                                <p>
                                     <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp 15/3 Junction Plot 
                                     "Shree Krishna Krupa", Rajkot - 360001.
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div> 
                </div>          
                <!-- /Boxes de Acoes -->
                
                <!--My Portfolio  dont Copy this -->
                
            </div>
        </div>
    </div>

{% endblock %}